body {
    font-size: 16px;
    font-style: oblique;
    line-height: normal;
    text-align: center;
    text-decoration: overline;
}

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600px;
    font-size: 3em;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}
