.super-mario {
      width: 200px;
      position: absolute;
}

.goomba {
      width: 100px;
      position: absolute;
      top: 400px;
      left: 50px;
}

.baloon {
      position: relative;

}

.speach {
      font-size: 25px;
      position: absolute;
      z-index: 5;
      top: 120px;
      left: 240px;

}

.bowser {
      width: 200px;
      position: relative;
      left: 500px;
      top: 150px;
}