#primaria {
      background-color: #03b5aa;
}

#secundaria {
      background-color: #037971;
}

#complementar {
      font-size: 20px;
}

#escura {
      background-color: #023436;
      color: rgb(240, 240, 240);
}

#clara {
      background-color: #00bfb3;
}

h3 {
      text-align: center;
}
